.sequenceContainer {
  width: 50%;
  border-radius: 10px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  align-items: center;
  padding-bottom: 1.5%;
  max-height: 50%;
  overflow-y: scroll;
}

.controlsRow {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sequenceInsertionSlot {
  opacity: 0.3;
  border: dashed 1px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.rawSequenceWrapper {
  width: 50%;
  height: 50%;
  resize: none;
  overflow-y: scroll;
  border: none;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #e0e0e0;
  cursor: text;
  font-size: 1rem;
}

.flexBreak {
  flex-basis: 100%;
  height: 0;
}
