.outerWrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.innerWrapper {
  margin: 5vh 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;

  @media only screen and (max-width: 600px) {
    margin: 5vh;
  }
}

.contentWrapper {
  margin: auto;
  width: 100%;
  height: 100%;
}

.contentContainerCentered {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}