.sequenceContainer {
  width: 80%;
  border-radius: 10px;
  max-height: 75%;
  overflow: scroll;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;

  @media only screen and (max-width: 600px) {
    width: 99%;
  }
}

.sequenceItemContainer {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2e2e2e;
  cursor: pointer;

  &.active {
    background-color: green;
  }
}

.controlsRow {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
