.kalimbaLoader {
  animation: floaty 4s ease-in-out infinite;
}

@keyframes floaty {
  0%   { transform: translate(0, 0) rotate(0deg); }
  25%  { transform: translate(5px, -5px) rotate(-1deg); }
  50%  { transform: translate(-8px, 8px) rotate(1deg); }
  75%  { transform: translate(8px, 8px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}