.inputOptionsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.inputOption {
  position: relative;
  border-radius: 15px;
  width: 25%;
  aspect-ratio: 1/1;
  background-color: #343444;
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 600px) {
    width: 75%;
  }
}

.inputOptionOverlay {
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #343444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.inputOptionContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inputUploadContainer {
  width: 90%;
  height: 90%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: dashed 1px #e0e0e0;
  cursor: pointer;
}

.inputControlsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputControlsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.inputSize {
  font-size: 75%;
  font-style: italic;
}
